.centrr{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;

}
.endee{
    display: flex;
    justify-content: flex-end;
}


.madd{
    display: flex;
    justify-content: center;

}

.particles {
    position: fixed;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }